<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Accounts</title>
	</head>
	<body>
		<h1 th:text = "${account.accountName}"></h1>
		
				<form th:action=@{/users/{userId}/account/{accountId}(userId=${user.userId},accountId=${account.accountId})} method="post">
					Account Name: <input type="text" th:field="${account.accountName}" /><br/>
					<input type="submit" value="Save Account" />
				</form>
				<hr/>
		
		<div>
		<a th:href="@{/users/{userId}(userId=${user.userId})}" style="margin-right: 2em;">Back</a>
		</div>
		
	</body>


</html>